<div class="container">
  
    <!-- View for admin -->
    <% if current_user.admin? %>

      <%= render 'admin_dashboard' %>
      
    <!-- View for regular user -->
    <% else %>

      <%= render 'user_dashboard' %>
      
    <% end %>  
</div>