@import 'bootstrap-sprockets';
@import 'bootstrap';

// font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

/****************
 ** Navigation **
 ***************/

// Main navigation bar
.navbar {
  border-radius: 0px;
  border: none;
  background-color: rgba(255, 255, 255, 0);   
}

// Container for logo and toggle menu icon
.navbar-header {
  margin-top: 30px;
  height: 70px;   
}

.navbar-brand {
  height: 70px;
  padding: 0px;  
}

// Company logo
.navbar-brand img {
  height: 70px;   
}

// Navigation links
.navbar-nav {
  margin: 15px;
  font-size: 18px;     
}

















