@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Questrial');

// Set footer height in a variable
$footer-height: 100px;

// font-family: 'Old Standard TT', serif;
// font-family: 'Questrial', sans-serif;

// Remove rounded corners on all buttons
.btn {
  border-radius: 0px;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

body {
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
}

/***************
 **Navigation**
 ***************/

// Main navigation bar
.navbar {
  border-radius: 0px;
  border: none;
  background-color: rgba(255, 255, 255, 0); 
  margin-bottom: 5px;  
}

// Container for logo and toggle menu icon
.navbar-header {
  margin-top: 15px;
  height: 70px;   
}

.navbar-brand {
  height: 70px;
  padding: 0px;  
}

// Company logo
.navbar-brand img {
  height: 70px;   
}

// Navigation links
.navbar-nav {
  margin: 20px;
  font-size: 18px;     
}

// Sign Up Button
.navbar-nav .btn {
  font-size: 18px;
  background-color: #0bb6ee;
  border: none
}

.navbar-default .navbar-nav li .sign-up {
  color: #fff;
}

/***************
 ***Homepage***
 ***************/

.hero {   
  background: url('hero_image.jpg') no-repeat center center;  
  background-size: cover;
  height: 500px;   
}

// Headline on hero image
.intro {   
  padding: 3rem;
  margin-top: 15%; 
  color: #fff;
}

.intro h1 {
  font-size: 60px;
  font-family: 'Old Standard TT', serif;
}

// About Section
#about {
  padding-bottom: 50px;
  background-color: #f5f5f5;
}

// Sections Heading
.section-heading {
  font-family: 'Old Standard TT', serif;
  margin-top: 50px;
}

// Certifications Section
#certifications .btn {
  margin-bottom: 15px;   
}

// Tools Section
.img-size {
  max-height: 180px;
}

.icon {
  text-align: center;
  max-height: 200px;
  padding: 20px;
}

// Services Section
#services ul {
  padding: 0 20px;
  width: 50%;
  float: left;
  list-style: none;
}

#services ul li {
  font-size: 15px;
  text-indent: -1em;
  line-height: 1.8em;
}

#services ul li:before {
  content: "• ";
  color: #0bb6ee;
  font-size: 22px;
  position: relative;
  top: 3px;
}

.clear {
  clear: both;
}

/***************
 *****Forms*****
 ***************/

.questions {
  display: block;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 20px;
}

/***************
 ***Dashboard***
 ***************/

 .dashboard {
  margin-top: 30px;
 }

 /***************
 *Sticky Footer*
 ***************/

// The html and body elements cannot have any padding or margin
html,
body {
  height: 100%;  
}

// Wrapper for page content to push down footer 
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -$footer-height;
  /* Pad bottom by footer height */
  padding: 0 0 $footer-height;
}

// Set the fixed height of the footer here
#footer {
  height: $footer-height;
  color: white;
  background-color: #0bb6ee;
  padding:10px 0px;
}

/***************
 *Media Queries*
 ***************/
$footer-height-mobile: 200px;

// Reduce font size of hero image text on extra-small devices
@media (max-width: 750px) {
 .intro h1 {
    font-size: 45px;
  }
}

// Increase footer height on extra-small devices
@media (max-width: 750px) {
  #footer {
    height:$footer-height-mobile;
  }

  #wrap {
    margin: 0 auto -$footer-height-mobile;
    /* Pad bottom by footer height */
    padding: 0 0 $footer-height-mobile;
  }
}

// Hide tools section on extra-small devices
@media (max-width: 750px) {
  #tools {
    display: none;
  }
}























